# # # # # # # #
#  IMPORTANT! #
# # # # # # # #
# 
# When using the `eas update` command, the contents of this file will be used. Make sure you have the right configuration for the target enviroment 
# 
# P.S. remember also to use `direnv allow` to actually load the env variables when you change this file
#

### `development` configuration
export DEV_AUTH_AZURE_B2C_LOGIN_ISSUER=""
export DEV_AUTH_AZURE_B2C_SIGNUP_ISSUER=""
export DEV_AUTH_AZURE_B2C_CLIENT_ID=""
export DEV_AUTH_AZURE_B2C_CLIENT_SECRET=""
export DEV_AUTH_AZURE_B2C_SCOPE=""
export DEV_API_URL=""
export DEV_AUTH_AZURE_B2C_PASSWORD_ISSUER=""

### `production` configuration
export PROD_AUTH_AZURE_B2C_LOGIN_ISSUER=""
export PROD_AUTH_AZURE_B2C_SIGNUP_ISSUER=""
export PROD_AUTH_AZURE_B2C_CLIENT_ID=""
export PROD_AUTH_AZURE_B2C_CLIENT_SECRET=""
export PROD_AUTH_AZURE_B2C_SCOPE=""
export PROD_API_URL=""
export PROD_AUTH_AZURE_B2C_PASSWORD_ISSUER=""

# used to create separate apps for dev/test/prod in app.config.ts
# can be "development" | "preview" | "production"
export APP_ENV="development"