@* Copyright 2023 Quantoz Technology B.V. and contributors. Licensed
    under the Apache License, Version 2.0. See the NOTICE file at the root
    of this distribution or at http://www.apache.org/licenses/LICENSE-2.0 *@

@if (IsLoading)
{
    <div class="d-flex justify-content-center align-items-center">
        <div class="spinner-border" role="status"></div>
    </div>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public required bool IsLoading { get; set; }

    [Parameter]
    public required RenderFragment ChildContent { get; set; }
}