@* Copyright 2023 Quantoz Technology B.V. and contributors. Licensed
    under the Apache License, Version 2.0. See the NOTICE file at the root
    of this distribution or at http://www.apache.org/licenses/LICENSE-2.0 *@

@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized>
        <button class="nav-link btn btn-link text-black" @onclick="BeginLogOut">Log out</button>
    </Authorized>
</AuthorizeView>

@code {
    public void BeginLogOut()
    {
        Navigation.NavigateToLogout("authentication/logout");
    }
}