@* Copyright 2023 Quantoz Technology B.V. and contributors. Licensed
    under the Apache License, Version 2.0. See the NOTICE file at the root
    of this distribution or at http://www.apache.org/licenses/LICENSE-2.0 *@

@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-4">
            <NavMenu />
            <div class="auth">
                <LoginDisplay />
            </div>

        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
